*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: skyblue;
    background: linear-gradient(skyblue, darkblue);
}
#app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#temp{
    text-align: center;
}
#temp-value{
    color: #fff;
    font-size: 10rem;
}
#temp-unit{
    color: #fff;
    font-size: 3rem;
}
#icon{
    margin: 5rem;
    width: 40%;
    height: 20%;
}
#location{
    font-family: sans-serif;
    color: #e0e0e0;
    font-size: 2.5rem;
}
#climate p{
    color:#e0e0e0;
    font-size: 2rem;
}
